@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serenity Haven Hotel</title>
    <link rel="stylesheet" href="style.css">
    <link href="~/Css/footer.css" rel="stylesheet" />
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            user-select: none;
        }

        a, li {
            text-decoration: none;
            list-style: none;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        body {
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }

        .banner {
            width: 100%;
            height: 100vh;
            overflow: hidden;
            transition: 1s;
        }

            .banner img {
                width: 100%;
                height: 100vh;
                margin: 0;
                padding: 0;
            }

        .rooms-box {
            width: 100%;
            height: 100vh;
            color: #fff;
            margin: 0 auto;
            overflow: auto;
            position: absolute;
            right: -100%;
            top: 0;
            background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../../img/pic1.jpg);
            transition: .6s;
        }

        .btn-l {
            width: 32px;
            position: absolute;
            left: 30px;
            bottom: 30px;
        }

            .btn-l span {
                border-radius: 10px;
                display: block;
                height: 32px;
                width: 32px;
                margin: 10px 0;
                padding: 10px;
                background: #00000050;
            }

        .btn-r {
            width: 371px;
            height: 53%;
            padding: 10px;
            border-radius: 10px;
            background: #ffffffdc;
            position: absolute;
            right: 0;
            bottom: 5%;
        }

            .btn-r > * {
                margin: 10px 0;
            }

        .logo span:first-child {
            font-size: 32px;
        }

        .label {
            display: inline-block;
            padding: 0.25rem 0.5rem;
            background-color: #fff7e5;
            border-radius: 0.25rem;
            font-size: 0.875rem;
            color: #ff7800;
        }

        .serverList {
            display: flex;
            flex-wrap: wrap;
        }

        .py-2 {
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 3px;
            background: #ffffff;
            border-radius: 5px;
        }

        .btn {
            width: 100%;
            padding: 10px;
            border: 1px solid #0d6efd;
            border-radius: 5px;
            background: green;
        }

            .btn:hover {
                background: #0d6efd;
                color: #ffffff;
                transition: .6s;
            }

        .fh {
            position: fixed;
            left: 0;
            top: 50vh;
            opacity: 0;
            transition: 1s;
        }

        .rooms {
            width: 70%;
            margin: 0 auto;
        }

        .time {
            width: auto;
            font-size: 23px;
            background: #ffffff30;
            padding: 20px;
            text-align: center;
            border-radius: 0 0 10px 10px;
        }

            .time input {
                padding: 5px 10px;
                color: #fff;
                border-radius: 5px;
                background: #ffffff30;
            }

        .room {
            width: 45%;
            margin: 10px;
            display: flex;
            border-radius: 5px;
            background: #ffffff30;
        }

            .room img {
                height: 200px;
                border-radius: 5px;
                margin-right: 5px;
            }

        .describe {
            width: 43%;
        }

            .describe .top, .bot {
                margin: 25px 5px;
            }

                .describe .top span:first-child {
                    font-size: 23px;
                    margin-right: 30px;
                }

            .describe .bot span:last-child {
                font-size: 23px;
                margin-left: 30px;
            }

            .describe input {
                color: #ffff;
            }

        .room .btn {
            color: #fff;
        }

        .flex-js {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="all">
        <div class="banner">
            <ul class="img">
                <li>
                    <img src="~/img/pic9.jpg" />
                </li>
                <li>
                    <img src="~/img/pic4.jpg" />
                </li>
                <li>
                    <img src="~/img/pic5.jpg" />
                </li>
                <li>
                    <img src="~/img/pic6.jpg" />
                </li>
                <li>
                    <img src="~/img/pic7.jpg" />
                </li>
                <li>
                    <img src="~/img/pic8.jpg" />
                </li>
                <li>
                    <img src="~/img/pic3.jpg" />
                </li>
                <li>
                    <img src="~/img/pic10.jpg" />
                </li>
                <li>
                    <img src="~/img/pic11.jpg" />
                </li>

            </ul>

            <div class="btn-l">
                <div class="btn-box">
                    <span>
                        <svg t="1685000466665" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="2466" width="32" height="32">
                            <path d="M910.222222 796.444444c-17.066667 0-34.133333-5.688889-45.511111-17.066666L551.822222 409.6c-11.377778-5.688889-17.066667-11.377778-34.133333-11.377778-5.688889 0-22.755556 5.688889-28.444445 11.377778l-329.955555 364.088889c-22.755556 22.755556-56.888889 22.755556-79.644445 5.688889-22.755556-22.755556-22.755556-56.888889-5.688888-79.644445l329.955555-364.088889c28.444444-34.133333 73.955556-51.2 119.466667-51.2s85.333333 22.755556 119.466666 56.888889l312.888889 364.088889c22.755556 22.755556 17.066667 56.888889-5.688889 79.644445-11.377778 5.688889-28.444444 11.377778-39.822222 11.377777z"
                                  fill="#ffffff" p-id="2467"></path>
                        </svg>
                    </span>
                    <span>
                        <svg t="1685000401655" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="2155" width="32" height="32">
                            <path d="M517.688889 796.444444c-45.511111 0-85.333333-17.066667-119.466667-51.2L73.955556 381.155556c-22.755556-22.755556-17.066667-56.888889 5.688888-79.644445 22.755556-22.755556 56.888889-17.066667 79.644445 5.688889l329.955555 364.088889c5.688889 5.688889 17.066667 11.377778 28.444445 11.377778s22.755556-5.688889 34.133333-17.066667l312.888889-364.088889c22.755556-22.755556 56.888889-28.444444 79.644445-5.688889 22.755556 22.755556 28.444444 56.888889 5.688888 79.644445L637.155556 739.555556c-28.444444 39.822222-68.266667 56.888889-119.466667 56.888888 5.688889 0 0 0 0 0z"
                                  fill="#ffffff" p-id="2156"></path>
                        </svg>
                    </span>
                </div>
                <span>
                    <a href="/Home/OrderRecord"><svg t="1685008443374" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4430" width="32" height="32"><path d="M778.24 61.44a122.88 122.88 0 0 1 122.88 122.88v655.36a122.88 122.88 0 0 1-122.88 122.88H245.76a122.88 122.88 0 0 1-122.88-122.88V184.32a122.88 122.88 0 0 1 122.88-122.88h532.48z m0 61.44H245.76a61.44 61.44 0 0 0-61.3376 57.83552L184.32 184.32v655.36a61.44 61.44 0 0 0 57.83552 61.3376L245.76 901.12h532.48a61.44 61.44 0 0 0 61.3376-57.83552L839.68 839.68V184.32a61.44 61.44 0 0 0-57.83552-61.3376L778.24 122.88zM563.2 532.48a30.72 30.72 0 0 1 0 61.44h-266.24a30.72 30.72 0 0 1 0-61.44h266.24z m163.84-225.28a30.72 30.72 0 0 1 0 61.44h-430.08a30.72 30.72 0 0 1 0-61.44h430.08z" fill="#ffffff" p-id="4431"></path></svg></a>
                </span>
                <span>
                    <a href="/Home/Logout">
                        <svg t="1685008044702" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3341" width="32" height="32"><path d="M154.497753 1017.014356a123.188603 123.188603 0 0 1-120.635616-118.72789v-771.50685A124.002192 124.002192 0 0 1 154.497753 7.013699h509.082302a124.535233 124.535233 0 0 1 121.252822 119.765917v98.191781a38.912 38.912 0 0 1-77.795945 0v-98.191781a47.300384 47.300384 0 0 0-43.625206-42.082191H154.497753a46.795397 46.795397 0 0 0-43.064109 42.082191v771.50685a45.813479 45.813479 0 0 0 43.064109 41.072219h508.829809a46.318466 46.318466 0 0 0 43.569096-41.072219v-101.193644a38.940055 38.940055 0 1 1 77.852054 0v101.193644a123.777753 123.777753 0 0 1-121.308931 118.72789z m637.320768-316.009205a38.603397 38.603397 0 0 1 0-54.903233l111.573917-111.489754a31.477479 31.477479 0 0 0 9.089754-22.023013 30.860274 30.860274 0 0 0-9.089754-21.798576l-111.573917-111.770301a38.799781 38.799781 0 0 1 54.903232-54.819069l111.573918 111.573918a108.908712 108.908712 0 0 1 0 153.768329l-111.573918 111.489753a38.26674 38.26674 0 0 1-27.465643 11.446357 38.883945 38.883945 0 0 1-27.353425-11.502466z m-324.369535-150.121206a38.940055 38.940055 0 0 1 0-77.852055h285.036713a38.940055 38.940055 0 0 1 0 77.852055z" fill="#ffffff" p-id="3342"></path></svg>
                    </a>
                </span>
            </div>

            <div class="btn-r">
                <div class="logo">
                    <span>Serenity Haven Hotel</span>
                    <div>4.9/5.0 awesome!</div>
                </div>
                <p>[Beijing/Haidian District] Heping Street </p>
                <div class="label-box">
                    <span class="label">Reception enthusiasm</span>
                    <span class="label">Good hygiene</span>
                    <span class="label">Convenient travel</span>
                    <span class="label">Fully equipped</span>
                </div>
                <ul class="serverList">
                    <li class="py-2">
                        <svg t="1684983449712" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="1433" width="16" height="16">
                            <path d="M512 113.777778c221.866667 0 398.222222 176.355556 398.222222 398.222222s-176.355556 398.222222-398.222222 398.222222-398.222222-176.355556-398.222222-398.222222 176.355556-398.222222 398.222222-398.222222m0-56.888889C261.688889 56.888889 56.888889 261.688889 56.888889 512s204.8 455.111111 455.111111 455.111111 455.111111-204.8 455.111111-455.111111-204.8-455.111111-455.111111-455.111111z"
                                  fill="#333333" p-id="1434"></path>
                            <path d="M540.444444 284.444444H398.222222v455.111112h56.888889v-170.666667h85.333333c79.644444 0 142.222222-62.577778 142.222223-142.222222S620.088889 284.444444 540.444444 284.444444z m0 227.555556H455.111111V341.333333h85.333333c45.511111 0 85.333333 39.822222 85.333334 85.333334S585.955556 512 540.444444 512z"
                                  fill="#333333" p-id="1435"></path>
                        </svg>
                        <span>Paid parking</span>
                    </li>
                    <li class="py-2">
                        <svg t="1684983490651" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="1637" width="16" height="16">
                            <path d="M512 699.733333c-34.133333 0-56.888889 28.444444-56.888889 56.888889 0 34.133333 28.444444 56.888889 56.888889 56.888889s56.888889-28.444444 56.888889-56.888889-28.444444-56.888889-56.888889-56.888889zM512 517.688889c-96.711111 0-182.044444 51.2-233.244444 91.022222-11.377778 11.377778-11.377778 28.444444-5.688889 39.822222 5.688889 5.688889 11.377778 11.377778 22.755555 11.377778 5.688889 0 11.377778 0 17.066667-5.688889 45.511111-34.133333 113.777778-79.644444 199.111111-79.644444 68.266667 0 142.222222 28.444444 193.422222 79.644444 11.377778 11.377778 28.444444 11.377778 39.822222 0 11.377778-11.377778 11.377778-28.444444 0-39.822222-68.266667-62.577778-153.6-96.711111-233.244444-96.711111z"
                                  fill="#333333" p-id="1638"></path>
                            <path d="M512 369.777778c-119.466667 0-238.933333 45.511111-341.333333 136.533333-11.377778 5.688889-17.066667 28.444444-5.688889 39.822222 5.688889 5.688889 17.066667 5.688889 22.755555 5.688889 5.688889 0 11.377778 0 17.066667-5.688889C295.822222 466.488889 403.911111 426.666667 512 426.666667c113.777778 0 221.866667 45.511111 301.511111 119.466666 11.377778 11.377778 28.444444 11.377778 39.822222 0 11.377778-11.377778 11.377778-28.444444 0-39.822222-96.711111-91.022222-216.177778-136.533333-341.333333-136.533333z"
                                  fill="#333333" p-id="1639"></path>
                            <path d="M955.733333 398.222222c-119.466667-113.777778-278.755556-182.044444-449.422222-182.044444C341.333333 216.177778 182.044444 284.444444 62.577778 398.222222c-5.688889 11.377778-5.688889 28.444444 0 39.822222s28.444444 11.377778 39.822222 0C210.488889 329.955556 352.711111 273.066667 512 273.066667c153.6 0 301.511111 56.888889 409.6 164.977777 5.688889 5.688889 11.377778 5.688889 17.066667 5.688889 5.688889 0 17.066667-5.688889 22.755555-11.377777 11.377778-5.688889 5.688889-22.755556-5.688889-34.133334z"
                                  fill="#333333" p-id="1640"></path>
                        </svg> <span>Free WIFI</span>
                    </li>
                    <li class="py-2">
                        <svg t="1684983525953" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="1842" width="16" height="16">
                            <path d="M881.777778 682.666667H853.333333c0-176.355556-136.533333-324.266667-312.888889-341.333334V256h28.444445c17.066667 0 28.444444-11.377778 28.444444-28.444444s-11.377778-28.444444-28.444444-28.444445H455.111111c-17.066667 0-28.444444 11.377778-28.444444 28.444445s11.377778 28.444444 28.444444 28.444444h28.444445V341.333333C307.2 358.4 170.666667 506.311111 170.666667 682.666667h-28.444445c-45.511111 0-85.333333 39.822222-85.333333 85.333333S96.711111 853.333333 142.222222 853.333333h739.555556c45.511111 0 85.333333-39.822222 85.333333-85.333333s-39.822222-85.333333-85.333333-85.333333zM512 398.222222c159.288889 0 284.444444 125.155556 284.444444 284.444445H227.555556c0-159.288889 125.155556-284.444444 284.444444-284.444445z m369.777778 398.222222h-739.555556c-17.066667 0-28.444444-11.377778-28.444444-28.444444s11.377778-28.444444 28.444444-28.444444h739.555556c17.066667 0 28.444444 11.377778 28.444444 28.444444s-11.377778 28.444444-28.444444 28.444444z"
                                  fill="#333333" p-id="1843"></path>
                            <path d="M455.111111 460.8c-45.511111 5.688889-85.333333 39.822222-102.4 85.333333-5.688889 17.066667 0 28.444444 17.066667 34.133334h11.377778c11.377778 0 22.755556-5.688889 28.444444-17.066667 5.688889-22.755556 28.444444-45.511111 56.888889-51.2 17.066667 0 22.755556-17.066667 22.755555-34.133333-5.688889-11.377778-17.066667-22.755556-34.133333-17.066667z"
                                  fill="#333333" p-id="1844"></path>
                        </svg> <span>Dining room</span>
                    </li>
                    <li class="py-2">
                        <svg t="1684983542724" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="2046" width="16" height="16">
                            <path d="M739.555556 221.866667c-62.577778 0-113.777778 51.2-113.777778 113.777777V398.222222H398.222222V335.644444c0-62.577778-51.2-113.777778-113.777778-113.777777s-113.777778 51.2-113.777777 113.777777V341.333333c-11.377778 0-17.066667-5.688889-28.444445-5.688889-45.511111 0-85.333333 39.822222-85.333333 85.333334v170.666666c0 45.511111 39.822222 85.333333 85.333333 85.333334 11.377778 0 17.066667 0 28.444445-5.688889v5.688889c0 62.577778 51.2 113.777778 113.777777 113.777778s113.777778-51.2 113.777778-113.777778V625.777778h227.555556v51.2c0 62.577778 51.2 113.777778 113.777778 113.777778s113.777778-51.2 113.777777-113.777778v-5.688889c11.377778 5.688889 17.066667 5.688889 28.444445 5.688889 45.511111 0 85.333333-39.822222 85.333333-85.333334v-170.666666c0-45.511111-39.822222-85.333333-85.333333-85.333334-11.377778 0-17.066667 0-28.444445 5.688889v-5.688889c0-62.577778-51.2-113.777778-113.777777-113.777777z m0 512c-34.133333 0-56.888889-22.755556-56.888889-56.888889v-341.333334c0-34.133333 22.755556-56.888889 56.888889-56.888888s56.888889 22.755556 56.888888 56.888888v341.333334c0 34.133333-22.755556 56.888889-56.888888 56.888889z m-455.111112 0c-34.133333 0-56.888889-22.755556-56.888888-56.888889v-341.333334c0-34.133333 22.755556-56.888889 56.888888-56.888888s56.888889 22.755556 56.888889 56.888888v341.333334c0 34.133333-22.755556 56.888889-56.888889 56.888889z m597.333334-113.777778c-17.066667 0-28.444444-11.377778-28.444445-28.444445v-170.666666c0-17.066667 11.377778-28.444444 28.444445-28.444445s28.444444 17.066667 28.444444 28.444445v170.666666c0 17.066667-11.377778 28.444444-28.444444 28.444445z m-739.555556 0c-17.066667 0-28.444444-11.377778-28.444444-28.444445v-170.666666c0-17.066667 11.377778-28.444444 28.444444-28.444445s28.444444 17.066667 28.444445 28.444445v170.666666c0 17.066667-11.377778 28.444444-28.444445 28.444445zM398.222222 568.888889V455.111111h227.555556v113.777778H398.222222z"
                                  fill="#333333" p-id="2047"></path>
                        </svg> <span>Fitness room</span>
                    </li>
                    <li class="py-2">
                        <svg t="1684983577205" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="2217" width="16" height="16">
                            <path d="M170.666667 364.088889h73.955555v250.311111c0 17.066667 11.377778 28.444444 28.444445 28.444444s28.444444-11.377778 28.444444-28.444444V506.311111h341.333333v102.4c0 17.066667 11.377778 28.444444 28.444445 28.444445s28.444444-11.377778 28.444444-28.444445V364.088889h91.022223c17.066667 0 28.444444-11.377778 28.444444-28.444445s-11.377778-28.444444-28.444444-28.444444h-91.022223V210.488889c0-39.822222 28.444444-79.644444 68.266667-79.644445s79.644444 28.444444 79.644444 68.266667v11.377778c0 17.066667 11.377778 28.444444 28.444445 28.444444 22.755556 0 34.133333-11.377778 34.133333-28.444444 0-73.955556-56.888889-130.844444-125.155555-136.533333-73.955556-5.688889-136.533333 51.2-136.533334 125.155555v108.088889h-341.333333V210.488889c0-39.822222 34.133333-73.955556 73.955556-73.955556 39.822222 0 79.644444 34.133333 79.644444 79.644445 0 17.066667 11.377778 28.444444 28.444444 28.444444s28.444444-17.066667 28.444445-34.133333c0-73.955556-56.888889-130.844444-130.844445-130.844445-73.955556 0-130.844444 56.888889-130.844444 130.844445v96.711111H170.666667c-11.377778 5.688889-22.755556 17.066667-22.755556 34.133333 0 11.377778 11.377778 22.755556 22.755556 22.755556z m136.533333 0h341.333333v79.644444h-341.333333V364.088889zM876.088889 728.177778c-22.755556 0-45.511111-5.688889-62.577778-22.755556-56.888889-45.511111-136.533333-45.511111-193.422222 0-34.133333 28.444444-91.022222 28.444444-125.155556 0-56.888889-45.511111-136.533333-45.511111-187.733333 0-17.066667 17.066667-39.822222 22.755556-62.577778 22.755556-22.755556 0-45.511111-5.688889-62.577778-22.755556-28.444444-22.755556-62.577778-34.133333-96.711111-34.133333-17.066667 0-28.444444 11.377778-28.444444 28.444444s11.377778 28.444444 28.444444 28.444445c22.755556 0 45.511111 5.688889 62.577778 22.755555 28.444444 22.755556 62.577778 34.133333 96.711111 34.133334 34.133333 0 68.266667-11.377778 96.711111-34.133334 34.133333-28.444444 91.022222-28.444444 125.155556 0 56.888889 45.511111 136.533333 45.511111 187.733333 0 34.133333-28.444444 91.022222-28.444444 125.155556 0 28.444444 22.755556 62.577778 34.133333 96.711111 34.133334 17.066667 0 28.444444-11.377778 28.444444-28.444445s-11.377778-28.444444-28.444444-28.444444zM876.088889 870.4c-22.755556 0-45.511111-5.688889-62.577778-22.755556-56.888889-45.511111-136.533333-45.511111-193.422222 0-34.133333 28.444444-91.022222 28.444444-125.155556 0-56.888889-45.511111-136.533333-45.511111-187.733333 0-17.066667 17.066667-39.822222 22.755556-62.577778 22.755556-22.755556 0-45.511111-5.688889-62.577778-22.755556-28.444444-22.755556-62.577778-34.133333-96.711111-34.133333-17.066667 0-28.444444 11.377778-28.444444 28.444445s11.377778 28.444444 28.444444 28.444444c22.755556 0 45.511111 5.688889 62.577778 22.755556 28.444444 22.755556 62.577778 34.133333 96.711111 34.133333 34.133333 0 68.266667-11.377778 96.711111-34.133333 34.133333-28.444444 91.022222-28.444444 125.155556 0 56.888889 45.511111 136.533333 45.511111 187.733333 0 34.133333-28.444444 91.022222-28.444444 125.155556 0 28.444444 22.755556 62.577778 34.133333 96.711111 34.133333 17.066667 0 28.444444-11.377778 28.444444-28.444445s-11.377778-28.444444-28.444444-28.444444z"
                                  fill="#333333" p-id="2218"></path>
                        </svg> <span>Swimming pool</span>
                    </li>
                    <li class="py-2">
                        <svg t="1684983626043" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="2388" width="16" height="16">
                            <path d="M182.044444 256c5.688889 0 22.755556 11.377778 39.822223 0 17.066667-11.377778 216.177778-130.844444 221.866666-136.533333 11.377778-5.688889 0-17.066667 0-17.066667s-11.377778-17.066667-45.511111-5.688889c-11.377778 5.688889-56.888889 34.133333-73.955555 39.822222h-11.377778l-68.266667-39.822222s-22.755556-11.377778-34.133333-5.688889c-5.688889 5.688889-5.688889 11.377778-5.688889 17.066667l51.2 56.888889V170.666667l-51.2 34.133333h-5.688889l-62.577778-28.444444s-17.066667-5.688889-28.444444 0c-5.688889 5.688889 0 17.066667 5.688889 22.755555 0 5.688889 62.577778 51.2 68.266666 56.888889zM876.088889 341.333333h-34.133333c-11.377778-51.2-56.888889-85.333333-108.088889-85.333333h-341.333334c-56.888889 0-96.711111 34.133333-113.777777 85.333333h-28.444445c-51.2 0-85.333333 39.822222-85.333333 85.333334v45.511111c0 17.066667 11.377778 28.444444 28.444444 28.444444s28.444444-11.377778 28.444445-28.444444v-45.511111c0-17.066667 11.377778-28.444444 28.444444-28.444445h28.444445v369.777778c0 56.888889 39.822222 102.4 91.022222 113.777778v28.444444c0 17.066667 11.377778 28.444444 28.444444 28.444445s28.444444-11.377778 28.444445-28.444445v-28.444444h284.444444v28.444444c0 17.066667 11.377778 28.444444 28.444445 28.444445s28.444444-11.377778 28.444444-28.444445v-34.133333c45.511111-17.066667 79.644444-56.888889 79.644444-108.088889V398.222222h28.444445c17.066667 0 28.444444 11.377778 28.444444 28.444445v45.511111c0 17.066667 11.377778 28.444444 28.444445 28.444444s28.444444-11.377778 28.444444-28.444444v-45.511111c0-45.511111-39.822222-85.333333-85.333333-85.333334z m-483.555556-28.444444h341.333334c34.133333 0 56.888889 22.755556 56.888889 56.888889v227.555555H341.333333h-5.688889v-227.555555c0-34.133333 22.755556-56.888889 56.888889-56.888889z m341.333334 512h-341.333334c-34.133333 0-56.888889-22.755556-56.888889-56.888889v-113.777778h455.111112v113.777778c0 34.133333-28.444444 56.888889-56.888889 56.888889z"
                                  fill="#333333" p-id="2389"></path>
                            <path d="M455.111111 426.666667h227.555556c17.066667 0 28.444444-11.377778 28.444444-28.444445s-11.377778-28.444444-28.444444-28.444444H455.111111c-17.066667 0-28.444444 11.377778-28.444444 28.444444s11.377778 28.444444 28.444444 28.444445z"
                                  fill="#333333" p-id="2390"></path>
                            <path d="M455.111111 739.555556m-28.444444 0a28.444444 28.444444 0 1 0 56.888889 0 28.444444 28.444444 0 1 0-56.888889 0Z"
                                  fill="#333333" p-id="2391"></path>
                            <path d="M682.666667 739.555556m-28.444445 0a28.444444 28.444444 0 1 0 56.888889 0 28.444444 28.444444 0 1 0-56.888889 0Z"
                                  fill="#333333" p-id="2392"></path>
                        </svg> <span>Pick-up service</span>
                    </li>
                    <li class="py-2">
                        <svg t="1684984216731" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="1433" width="16" height="16">
                            <path d="M221.866667 318.577778c62.577778 0 113.777778-51.2 113.777777-113.777778s-51.2-113.777778-113.777777-113.777778-113.777778 51.2-113.777778 113.777778 51.2 113.777778 113.777778 113.777778z m0-170.666667c34.133333 0 56.888889 22.755556 56.888889 56.888889s-22.755556 56.888889-56.888889 56.888889-56.888889-22.755556-56.888889-56.888889 22.755556-56.888889 56.888889-56.888889zM546.133333 381.155556c0-28.444444-22.755556-51.2-51.2-51.2H142.222222c-22.755556 0-45.511111 11.377778-56.888889 22.755555S56.888889 398.222222 56.888889 420.977778l11.377778 176.355555c0 34.133333 28.444444 56.888889 56.888889 62.577778l11.377777 216.177778c0 28.444444 22.755556 45.511111 51.2 45.511111h62.577778c28.444444 0 45.511111-22.755556 51.2-45.511111l22.755556-409.6 170.666666-28.444445c28.444444-5.688889 51.2-28.444444 51.2-56.888888z m-227.555555 22.755555c-28.444444 5.688889-45.511111 28.444444-45.511111 51.2l-22.755556 403.911111h-51.2l-11.377778-204.8c0-28.444444-22.755556-51.2-51.2-51.2-5.688889 0-5.688889-5.688889-5.688889-5.688889L113.777778 415.288889c0-5.688889 0-11.377778 5.688889-17.066667 5.688889-5.688889 11.377778-5.688889 17.066666-5.688889H398.222222l-79.644444 11.377778zM585.955556 489.244444c5.688889 5.688889 5.688889 5.688889 11.377777 5.688889s11.377778-5.688889 11.377778-11.377777l56.888889-108.088889 51.2 51.2c5.688889 5.688889 11.377778 5.688889 11.377778 5.688889 5.688889 0 11.377778-5.688889 11.377778-5.688889l96.711111-164.977778c5.688889-5.688889 0-17.066667-5.688889-22.755556-5.688889-5.688889-17.066667 0-22.755556 5.688889l-85.333333 142.222222-51.2-51.2c-5.688889-5.688889-11.377778-5.688889-17.066667-5.688888-5.688889 0-11.377778 5.688889-11.377778 11.377777l-56.888888 108.088889-17.066667-17.066666c-5.688889-5.688889-17.066667-5.688889-22.755556 0 0 11.377778 0 17.066667 5.688889 22.755555l34.133334 34.133333z"
                                  fill="#333333" p-id="1434"></path>
                            <path d="M881.777778 113.777778H420.977778c-17.066667 0-28.444444 17.066667-28.444445 28.444444s11.377778 28.444444 28.444445 28.444445h460.8c11.377778 0 22.755556 11.377778 22.755555 22.755555v352.711111c0 11.377778-11.377778 22.755556-22.755555 22.755556H420.977778c-17.066667 0-28.444444 11.377778-28.444445 28.444444s11.377778 28.444444 28.444445 28.444445h460.8c45.511111 0 79.644444-34.133333 79.644444-79.644445V193.422222c0-39.822222-34.133333-79.644444-79.644444-79.644444z"
                                  fill="#333333" p-id="1435"></path>
                        </svg> <span>Conference room</span>
                    </li>
                    <li class="py-2">
                        <svg t="1684984287365" class="icon" viewBox="0 0 1024 1024" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" p-id="1637" width="16" height="16">
                            <path d="M910.222222 170.666667H455.111111c-28.444444 0-56.888889 28.444444-56.888889 56.888889v56.888888H261.688889c-17.066667 0-34.133333 5.688889-45.511111 22.755556L68.266667 494.933333c-5.688889 11.377778-11.377778 22.755556-11.377778 34.133334V682.666667c0 34.133333 22.755556 56.888889 56.888889 56.888889h56.888889c0 62.577778 51.2 113.777778 113.777777 113.777777s113.777778-51.2 113.777778-113.777777h227.555556c0 62.577778 51.2 113.777778 113.777778 113.777777s113.777778-51.2 113.777777-113.777777h56.888889c28.444444 0 56.888889-28.444444 56.888889-56.888889V227.555556c0-28.444444-28.444444-56.888889-56.888889-56.888889zM284.444444 796.444444c-34.133333 0-56.888889-22.755556-56.888888-56.888888h113.777777c0 34.133333-22.755556 56.888889-56.888889 56.888888z m-170.666666-113.777777V529.066667L261.688889 341.333333H398.222222v341.333334H113.777778z m625.777778 113.777777c-34.133333 0-56.888889-22.755556-56.888889-56.888888h113.777777c0 34.133333-22.755556 56.888889-56.888888 56.888888z m170.666666-113.777777H455.111111V227.555556h455.111111v455.111111z"
                                  fill="#333333" p-id="1638"></path>
                        </svg> <span>luggage deposit</span>
                    </li>
                </ul>
                <button class="btn">Book now</button>
            </div>
        </div>
        <div class="rooms-box">
            <div class="fh">
                <svg t="1685003986558" class="icon" viewBox="0 0 1024 1024" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" p-id="1851" width="32" height="32">
                    <path d="M312.888889 995.555556c-17.066667 0-28.444444-5.688889-39.822222-17.066667-22.755556-22.755556-17.066667-56.888889 5.688889-79.644445l364.088888-329.955555c11.377778-11.377778 17.066667-22.755556 17.066667-34.133333 0-11.377778-5.688889-22.755556-17.066667-34.133334L273.066667 187.733333c-22.755556-22.755556-28.444444-56.888889-5.688889-79.644444 22.755556-22.755556 56.888889-28.444444 79.644444-5.688889l364.088889 312.888889c34.133333 28.444444 56.888889 73.955556 56.888889 119.466667s-17.066667 85.333333-51.2 119.466666l-364.088889 329.955556c-11.377778 5.688889-28.444444 11.377778-39.822222 11.377778z"
                          fill="#ffffff" p-id="1852"></path>
                </svg>
            </div>
            <div class="rooms">
                <form action="/Home/Pay" method="get">
                    <div class="time">
                        Check-in Time:<input id="ChecklnDate" type="date" required name="ChecklnDate" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                        Check-out time:<input id="checkoutDate" type="date" required name="checkoutDate" value="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")">
                    </div>
                    @{
                        Random random = new Random();
                    }
                    <div class="flex-js">
                        @foreach (var room in ViewBag.Rooms)
                        {
                            <div class="room">
                                <div class="img">
                                    @if (random.Next(1, 5).ToString() == "1")
                                    {
                                        <img src="~/img/pic3.jpg" width="300" alt="">
                                    }
                                    else if (random.Next(1, 5).ToString() == "2")
                                    {
                                        <img src="~/img/pic4.jpg" width="300" alt="">
                                    }
                                    else if (random.Next(1, 5).ToString() == "3")
                                    {
                                        <img src="~/img/pic7.jpg" width="300" alt="">
                                    }
                                    else
                                    {
                                        <img src="~/img/pic9.jpg" width="300" alt="">
                                    }
                                </div>
                                <div class="describe">
                                    <p class="top"><span>@room.RoomType.Type</span><br><span>2 meter king bed</span></p>
                                    <p class="bot"><span>Standard price:</span><span>@room.RoomType.Price.ToString("C0")</span></p>
                                    <p>
                                        <button class="btn" type="submit" name="RoomTypeID"
                                                value="@room.RoomType.TypeID">
                                            reserve
                                        </button>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </form>
            </div>
            <br />
            <br />
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <p class="colophon"> If you have any questions, please contact the manager.&emsp; Name :Lucy &emsp; Telephone number:18830470361&emsp;  e-mail:1102273077@qq.com </p>
        </div>
    </footer> <!-- .site-footer -->
</body>
<script>
    $(function () {
        // Get check in time and check out time input boxes
        var ChecklnDateInput = $("#ChecklnDate");
        var checkoutDateInput = $("#checkoutDate");

        // Listen for changes in the check-out time input box
        checkoutDateInput.on("change", function () {
            // Get values for check-in time and check-out time
            var ChecklnDateValue = ChecklnDateInput.val();
            var checkoutDateValue = checkoutDateInput.val();

            // If the check-out time is less than or equal to the check-in time, the check-out time is set to the check-in time plus one day
            if (checkoutDateValue <= ChecklnDateValue) {
                var nextDay = new Date(ChecklnDateValue);
                nextDay.setDate(nextDay.getDate() + 1);
                checkoutDateInput.val(nextDay.toISOString().substring(0, 10));
            }
        });

        // Listen for changes in the check-in time input box
        ChecklnDateInput.on("change", function () {
            // Gets the value of check-in time
            var ChecklnDateValue = ChecklnDateInput.val();

            // Check that the date entered is earlier than or equal to the current day's date
            var today = new Date();
            var selectedDate = new Date(ChecklnDateValue);
            if (selectedDate < today) {
                // If so, set the input date to today's date
                ChecklnDateInput.val(today.toISOString().substring(0, 10));
            }

            // If the check-out time equals the check-in time, force the check-out time to be the check-in time plus one day
            if (checkoutDateInput.val() === ChecklnDateValue) {
                var nextDay = new Date(ChecklnDateValue);
                nextDay.setDate(nextDay.getDate() + 1);
                checkoutDateInput.val(nextDay.toISOString().substring(0, 10));
            }

            // If the check-out time is earlier than the check-in time, the check-out time is set to the check-in time plus one day
            if (checkoutDateInput.val() < ChecklnDateValue) {
                var nextDay = new Date(ChecklnDateValue);
                nextDay.setDate(nextDay.getDate() + 1);
                checkoutDateInput.val(nextDay.toISOString().substring(0, 10));
            }
        });

        // Gets the list of banner images, the index of currently displayed images, and the total number of images
        var bannerList = $(".img li");
        var currentIndex = 0;
        var totalLength = bannerList.length;

        // Timer for automatic wheel casting
        var autoPlayTimer = setInterval(function () {
            showNextBanner();
        }, 5000);

        // Previous button click event
        $(".btn-l .btn-box span:first-child").on("click", function () {
            // Clear the timer of automatic rosette
            clearInterval(autoPlayTimer);
            autoPlayTimer = null;
            showPrevBanner();
            // Reset the timer of the automatic rosette
            autoPlayTimer = setInterval(function () {
                showNextBanner();
            }, 5000);
        });

        // Next button click event
        $(".btn-l .btn-box span:last-child").on("click", function () {
            // Clear the timer of automatic rosette
            clearInterval(autoPlayTimer);
            autoPlayTimer = null;
            showNextBanner();
            // Reset the timer of the automatic rosette
            autoPlayTimer = setInterval(function () {
                showNextBanner();
            }, 5000);
        });

        // Switch to the previous banner
        function showPrevBanner() {
            currentIndex--;
            if (currentIndex < 0) {
                currentIndex = totalLength - 1;
            }
            switchBanner();
        }

        // Switch to the next banner
        function showNextBanner() {
            currentIndex++;
            if (currentIndex >= totalLength) {
                currentIndex = 0;
            }
            switchBanner();
        }

        // Switch to the target banner
        function switchBanner() {
            var targetImg = bannerList.eq(currentIndex);
            targetImg.fadeIn().siblings().fadeOut();
            var targetTop = -(targetImg.height() - $(window).height()) / 2;
            targetImg.animate({ top: targetTop }, 500);
        }

        // Click the Book Now button
        $(".btn").on("click", function () {
            // Clear the timer of automatic rosette
            clearInterval(autoPlayTimer);
            autoPlayTimer = null;

            $(".fh").css("opacity", "1")
            $(".rooms-box").css("right", "0")
            $(".banner").css("opacity", "0")
        });
        // Click the Book Now button
        $(".fh").on("click", function () {
            autoPlayTimer = setInterval(function () {
                showNextBanner();
            }, 5000);

            $(".fh").css("opacity", "0")
            $(".rooms-box").css("right", "-100%")
            $(".banner").css("opacity", "1")
        });
    });
</script>

</html>